mixin category()
    section.products.active 
        .container
            .products__header 
                span Мобильные телефоны
                h1 Мобильные телефоны
                ul.products__nav
                    li 
                        a(href="#") Смартфоны 
                    li 
                        a(href="#") Honor 
                    li 
                        a(href="#") Artel 
                    li 
                        a(href="#") Samsung 
                    li 
                        a(href="#") Iphone 
                    li 
                        a(href="#") Redmi 
                    li 
                        a(href="#") Vivo 
                    li 
                        a(href="#") Nokia 
                    li 
                        a(href="#") Huawei 
                    li 
                        a(href="#") Realmi 
                    li 
                        a(href="#") Inoi 
                    li 
                        a(href="#") OPPO 
                    li 
                        a(href="#") BQ
                    li 
                        a(href="#") Nobby 
            .products__body
                .products-left  
                    .card__filter 
                        .card__filter__sort-pc
                            h1 Сортировать:
                            .box 
                                a(href="#").active по популярности 
                                a(href="#") по возрастанию цены
                                a(href="#") по убыванию цены
                        .card__filter-sort 
                            select(name="sort")
                                option(value="popularity") По популярности
                                option(value="priceUp") По возрастанию цены
                                option(value="priceDown") По убыванию цены
                        a.card__filter-btn
                            span Фильтры
                            img(src="img/filter.svg" alt="filter")
                    ul.card__list
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                .box__phone
                                    a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                    a.rating 
                                        .rating__star 
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                        .rating__review 5 отзывов
                                    a.views
                                        small 37 тыс. просмотров
                                .box__info
                                    .price 
                                        p От 3 249 000 сум
                                    .offers 
                                        span 33 предложения
                                    .service
                                        a(href="#") Есть кредит
                                        a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                .box__phone
                                    a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                    a.rating 
                                        .rating__star 
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                        .rating__review 5 отзывов
                                    a.views
                                        small 37 тыс. просмотров
                                .box__info
                                    .price 
                                        p От 3 249 000 сум
                                    .offers 
                                        span 33 предложения
                                    .service
                                        a(href="#") Есть кредит
                                        a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                .box__phone
                                    a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                    a.rating 
                                        .rating__star 
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                        .rating__review 5 отзывов
                                    a.views
                                        small 37 тыс. просмотров
                                .box__info
                                    .price 
                                        p От 3 249 000 сум
                                    .offers 
                                        span 33 предложения
                                    .service
                                        a(href="#") Есть кредит
                                        a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                .box__phone
                                    a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                    a.rating 
                                        .rating__star 
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                        .rating__review 5 отзывов
                                    a.views
                                        small 37 тыс. просмотров
                                .box__info
                                    .price 
                                        p От 3 249 000 сум
                                    .offers 
                                        span 33 предложения
                                    .service
                                        a(href="#") Есть кредит
                                        a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                .box__phone
                                    a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                    a.rating 
                                        .rating__star 
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                        .rating__review 5 отзывов
                                    a.views
                                        small 37 тыс. просмотров
                                .box__info
                                    .price 
                                        p От 3 249 000 сум
                                    .offers 
                                        span 33 предложения
                                    .service
                                        a(href="#") Есть кредит
                                        a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                .box__phone
                                    a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                    a.rating 
                                        .rating__star 
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                            img(src="./img/star-solid.svg" alt="star")
                                        .rating__review 5 отзывов
                                    a.views
                                        small 37 тыс. просмотров
                                .box__info
                                    .price 
                                        p От 3 249 000 сум
                                    .offers 
                                        span 33 предложения
                                    .service
                                        a(href="#") Есть кредит
                                        a(href="#") Есть доставка
                .products-right  
                    .filters 
                        .filters__box 
                            h1.title Цена, сум
                            .filter-input  
                                .input__number
                                    label(for="priceFrom") От
                                    input(placeholder="100" id="priceFrom" type="number")
                                .input__number 
                                    label(for="priceTo") До
                                    input(placeholder="30 000 000" id="priceTo" type="number")
                                button.filter-input-btn Показать
                        .filters__box 
                            h1.title Диагональ экрана
                            .filter-input  
                                .input__number 
                                    label(for="displayFrom") От
                                    input(id="displayFrom" type="number")
                                .input__number 
                                    label(for="displayTo") До
                                    input(id="displayTo" type="number")
                                button.filter-input-btn Показать
                        .filters__box 
                            h1.title Емкость аккумулятора, мА⋅ч
                            .filter-input  
                                .input__number 
                                    label(for="batteryFrom") От
                                    input(id="batteryFrom" type="number")
                                .input__number 
                                    label(for="batteryTo") До
                                    input(id="batteryTo" type="number")
                                button.filter-input-btn Показать
                        .filters__box 
                            h1.title Кредит
                            .filter-radio
                                .input__radio 
                                    input(type="radio" checked id="nocredit" name="radio")
                                    label(for="nocredit") Есть
                                .input__radio 
                                    input(type="radio" id="credit" name="radio")
                                    label(for="credit") Неважно
                        .filters__box 
                            h1.title Бренд
                            .filter-checkbox 
                                .input__checkbox 
                                    input(type="checkbox" id="apple" name="apple")
                                    label(for="apple") Apple
                                .input__checkbox 
                                    input(type="checkbox" id="samsung" name="samsung")
                                    label(for="samsung") Samsung
                                .input__checkbox 
                                    input(type="checkbox" id="huawei" name="huawei")
                                    label(for="huawei") Huawei
                                .input__checkbox 
                                    input(type="checkbox" id="xiaomi" name="xiaomi")
                                    label(for="xiaomi") Xiaomi
                                .input__checkbox 
                                    input(type="checkbox" id="artel" name="artel")
                                    label(for="artel") Artel
                                .input__checkbox 
                                    input(type="checkbox" id="realme" name="realme")
                                    label(for="realme") Realme



