mixin content()
    section.content
        .container
            .content-container
                ul.path 
                    li 
                        a(href="#") dsadas
                    li 
                        a(href="#") dsadas
                    li 
                        a(href="#") dsadas
                h2.content-title Телевизор Artel TV 32AH90G Smart TV 32"
                .content-left
                    .content__info
                        .content__info-left
                            .swiper.mySwiper2
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                .swiper-button-next.content-next
                                    img(src="@img/next.png" alt="" draggable="false")
                                .swiper-button-prev.content-prev
                                    img(src="@img/prev.png" alt="" draggable="false")
                            .swiper.mySwiper(thumbsSlider="")
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                                    .swiper-slide
                                        img(src="@img/telefon.jpg" alt="" draggable="false")
                        .content-right
                            .content__about 
                                h1.content__about-title 14 предложений
                                h3.content__about-count В наличии у 9 продавцов 
                                h4.content__about-views 88,2 тыс. просмотров
                                h4.content__about-price Цены обновляются каждый день
                                .share 
                                    h1.share__title Поделиться
                                    .share__content 
                                        a(href="#").share__content-item
                                            img(src="./img/facebook.svg" width='22' height='22' alt="facebook")
                                        a(href="#").share__content-item
                                            img(src="./img/facebook.svg" width='22' height='22' alt="facebook")
                                        a(href="#").share__content-item
                                            img(src="./img/facebook.svg" width='22' height='22' alt="facebook")
                            .content__other 
                                .content__other-item
                                    .item
                                        a(href="/content.html").item-img 
                                            img(src="./img/telefon.jpg" alt="telefon")
                                        .item-article 
                                            a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                            h3.price 4 040 000 сум
                                            h4.credit Есть кредит
                                            h4.delivery Доставка по Ташкенту, по Узбекистану
                                    .bottom
                                        h3.bottom__company olcha.uz
                                        a(href="/content.html").bottom__btn Смотреть
                                .content__other-item
                                    .item
                                        a(href="/content.html").item-img 
                                            img(src="./img/telefon.jpg" alt="telefon")
                                        .item-article 
                                            a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                            h3.price 4 040 000 сум
                                            h4.credit Есть кредит
                                            h4.delivery Доставка по Ташкенту, по Узбекистану
                                    .bottom
                                        h3.bottom__company olcha.uz
                                        a(href="/content.html").bottom__btn Смотреть
                                .content__other-item
                                    .item
                                        a(href="/content.html").item-img 
                                            img(src="./img/telefon.jpg" alt="telefon")
                                        .item-article 
                                            a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                            h3.price 4 040 000 сум
                                            h4.credit Есть кредит
                                            h4.delivery Доставка по Ташкенту, по Узбекистану
                                    .bottom
                                        h3.bottom__company olcha.uz
                                        a(href="/content.html").bottom__btn Смотреть
                        .content__info-right
                            h4.content__info-title Характеристики
                            ul.content__info-ul
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                                li 
                                    p dsadasd
                                    p dsad
                    .content__description
                        h4.content__description-title Описание
                        p.content__description-p Сверхвысокая частота обновления <br>Высокая частота обновления 120 Гц обеспечивает бесперебойную работу и высокую детализацию изображения при просмотре веб-страниц. <br><br>Удобство и приятные ощущения<br>Redmi Note 11 Pro — это абсолютно новая конструкция с плоской рамкой в минималистичном стиле, которая обеспечивает впечатляющий внешний вид, а также удобно лежит в руке.<br><br>Два динамика<br>Погрузитесь в мир мультимедиа и игр благодаря аудиосистеме с двумя динамиками.
                    .content__reviews
                        h4.content__reviews-title Отзывы
                        .content__reviews-review
                            .content__reviews-acc
                                .content__reviews-acc-ava
                                    img(src="@img/telefon.jpg" alt="" draggable="false")
                                p.content__reviews-acc-name Jasur Avazov <span>30 октября 2022</span>
                            p.content__reviews-p Juda ajoyib men olganman kalonkasi batareyasi kamerasiga umuman gap bo‘lishi mumkin emas narxi juda qoniqarli. rang turlarini ko‘paytirish kerak. juda ajoyib 12 bundan kuchli kutaman
                        .content__reviews-review
                            .content__reviews-acc
                                .content__reviews-acc-ava
                                    img(src="@img/telefon.jpg" alt="" draggable="false")
                                p.content__reviews-acc-name Jasur Avazov <span>30 октября 2022</span>
                            p.content__reviews-p Juda ajoyib men olganman kalonkasi batareyasi kamerasiga umuman gap bo‘lishi mumkin emas narxi juda qoniqarli. rang turlarini ko‘paytirish kerak. juda ajoyib 12 bundan kuchli kutaman
                        .content__reviews-review
                            .content__reviews-acc
                                .content__reviews-acc-ava
                                    img(src="@img/telefon.jpg" alt="" draggable="false")
                                p.content__reviews-acc-name Jasur Avazov <span>30 октября 2022</span>
                            p.content__reviews-p Juda ajoyib men olganman kalonkasi batareyasi kamerasiga umuman gap bo‘lishi mumkin emas narxi juda qoniqarli. rang turlarini ko‘paytirish kerak. juda ajoyib 12 bundan kuchli kutaman
                        .content__reviews-review
                            .content__reviews-acc
                                .content__reviews-acc-ava
                                    img(src="@img/telefon.jpg" alt="" draggable="false")
                                p.content__reviews-acc-name Jasur Avazov <span>30 октября 2022</span>
                            p.content__reviews-p Juda ajoyib men olganman kalonkasi batareyasi kamerasiga umuman gap bo‘lishi mumkin emas narxi juda qoniqarli. rang turlarini ko‘paytirish kerak. juda ajoyib 12 bundan kuchli kutaman
                        .content__reviews-review
                            .content__reviews-acc
                                .content__reviews-acc-ava
                                    img(src="@img/telefon.jpg" alt="" draggable="false")
                                p.content__reviews-acc-name Jasur Avazov <span>30 октября 2022</span>
                            p.content__reviews-p Juda ajoyib men olganman kalonkasi batareyasi kamerasiga umuman gap bo‘lishi mumkin emas narxi juda qoniqarli. rang turlarini ko‘paytirish kerak. juda ajoyib 12 bundan kuchli kutaman
                        .content__reviews-review
                            .content__reviews-acc
                                .content__reviews-acc-ava
                                    img(src="@img/telefon.jpg" alt="" draggable="false")
                                p.content__reviews-acc-name Jasur Avazov <span>30 октября 2022</span>
                            p.content__reviews-p Juda ajoyib men olganman kalonkasi batareyasi kamerasiga umuman gap bo‘lishi mumkin emas narxi juda qoniqarli. rang turlarini ko‘paytirish kerak. juda ajoyib 12 bundan kuchli kutaman
                    .content__similar
                        h4.content__similar-title Похожие товары
                        .swiper.contentSwiper
                            .swiper-wrapper
                                .swiper-slide 
                                    a(href="./content.html").content__similar-card.contentOpen
                                        .content__similar-card__img 
                                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70" alt="" draggable="false")
                                        h5.content__similar-card__title Смартфон realme C35 4/128GB
                                        p.content__similar-card__review 3 отзыва
                                        p.content__similar-card__price От 03232131 сум
                                .swiper-slide 
                                    a(href="./content.html").content__similar-card.contentOpen
                                        .content__similar-card__img 
                                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70" alt="" draggable="false")
                                        h5.content__similar-card__title Смартфон realme C35 4/128GB
                                        p.content__similar-card__review 3 отзыва
                                        p.content__similar-card__price От 03232131 сум
                                .swiper-slide 
                                    a(href="./content.html").content__similar-card.contentOpen
                                        .content__similar-card__img 
                                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70" alt="" draggable="false")
                                        h5.content__similar-card__title Смартфон realme C35 4/128GB
                                        p.content__similar-card__review 3 отзыва
                                        p.content__similar-card__price От 03232131 сум
                                .swiper-slide 
                                    a(href="./content.html").content__similar-card.contentOpen
                                        .content__similar-card__img 
                                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70" alt="" draggable="false")
                                        h5.content__similar-card__title Смартфон realme C35 4/128GB
                                        p.content__similar-card__review 3 отзыва
                                        p.content__similar-card__price От 03232131 сум
                                .swiper-slide 
                                    a(href="./content.html").content__similar-card.contentOpen
                                        .content__similar-card__img 
                                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70" alt="" draggable="false")
                                        h5.content__similar-card__title Смартфон realme C35 4/128GB
                                        p.content__similar-card__review 3 отзыва
                                        p.content__similar-card__price От 03232131 сум
                            .swiper-button-next.content2-next
                                img(src="@img/next.png" alt="" draggable="false")
                            .swiper-button-prev.content2-prev
                                img(src="@img/prev.png" alt="" draggable="false")
                .content-right
                    .content__about 
                        h1.content__about-title 14 предложений
                        h3.content__about-count В наличии у 9 продавцов 
                        h4.content__about-views 88,2 тыс. просмотров
                        h4.content__about-price Цены обновляются каждый день
                        .share 
                            h1.share__title Поделиться
                            .share__content 
                                a(href="#").share__content-item
                                    img(src="./img/facebook.svg" width='22' height='22' alt="facebook")
                                a(href="#").share__content-item
                                    img(src="./img/facebook.svg" width='22' height='22' alt="facebook")
                                a(href="#").share__content-item
                                    img(src="./img/facebook.svg" width='22' height='22' alt="facebook")
                    .content__other 
                        .content__other-item
                            .item
                                a(href="/content.html").item-img 
                                    img(src="./img/telefon.jpg" alt="telefon")
                                .item-article 
                                    a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                    h3.price 4 040 000 сум
                                    h4.credit Есть кредит
                                    h4.delivery Доставка по Ташкенту, по Узбекистану
                            .bottom
                                h3.bottom__company olcha.uz
                                a(href="/content.html").bottom__btn Смотреть
                        .content__other-item
                            .item
                                a(href="/content.html").item-img 
                                    img(src="./img/telefon.jpg" alt="telefon")
                                .item-article 
                                    a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                    h3.price 4 040 000 сум
                                    h4.credit Есть кредит
                                    h4.delivery Доставка по Ташкенту, по Узбекистану
                            .bottom
                                h3.bottom__company olcha.uz
                                a(href="/content.html").bottom__btn Смотреть
                        .content__other-item
                            .item
                                a(href="/content.html").item-img 
                                    img(src="./img/telefon.jpg" alt="telefon")
                                .item-article 
                                    a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                    h3.price 4 040 000 сум
                                    h4.credit Есть кредит
                                    h4.delivery Доставка по Ташкенту, по Узбекистану
                            .bottom
                                h3.bottom__company olcha.uz
                                a(href="/content.html").bottom__btn Смотреть
                        .content__other-item
                            .item
                                a(href="/content.html").item-img 
                                    img(src="./img/telefon.jpg" alt="telefon")
                                .item-article 
                                    a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                    h3.price 4 040 000 сум
                                    h4.credit Есть кредит
                                    h4.delivery Доставка по Ташкенту, по Узбекистану
                            .bottom
                                h3.bottom__company olcha.uz
                                a(href="/content.html").bottom__btn Смотреть
                        .content__other-item
                            .item
                                a(href="/content.html").item-img 
                                    img(src="./img/telefon.jpg" alt="telefon")
                                .item-article 
                                    a(href="/content.html").name Смартфон Xiaomi Note 11 Pro 8/128GB Синий
                                    h3.price 4 040 000 сум
                                    h4.credit Есть кредит
                                    h4.delivery Доставка по Ташкенту, по Узбекистану
                            .bottom
                                h3.bottom__company olcha.uz
                                a(href="/content.html").bottom__btn Смотреть
