mixin footer()
    footer.footer
        .container 
            .footer__menu 
                nav.footer__nav 
                    ul 
                        li 
                            a(href="#") Справка
                        li 
                            a(href="#") Контакты
                        li 
                            a(href="#") Вакансии
                        li 
                            a(href="#") О нас
                        li 
                            a(href="#") Политика конфиденциальности
                        li 
                            a(href="#") Реклама
                .footer__social 
                    ul 
                        li 
                            a(href="#") 
                                img(src="./img/facebook.svg" alt="alt") 
                        li 
                            a(href="#") 
                                img(src="./img/insta.svg" alt="alt") 
                        li 
                            a(href="#") 
                                img(src="./img/twitter.svg" alt="alt") 
                        li 
                            a(href="#") 
                                img(src="./img/yt.svg" alt="alt") 
            h1.footer__copyright © Smartbozor.uz 2023