mixin main()
    section.main#main
        .container 
            .category
                h2.category-title Категории
                ul
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
                    li 
                        a(href="#") dsadasdsad
            .popular
                h2.popular-title Популярные товары
                .popular-box
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                    a(href="#").popular-card
                        .popular-card__img 
                            img(src="https://media.4rgos.it/i/Argos/9520103_R_Z001A?w=750&h=440&qlt=70", alt="", draggable="false")
                        h5.popular-card__title Смартфон realme C35 4/128GB
                        p.popular-card__review 3 отзыва
                        p.popular-card__price От 03232131 сум
                button(type="button").popular-more Показать ещё