mixin menu()
    .menu
        .menu__btn 
            .menu__exit
        .menu__list
            ul 
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
    .overlay