mixin news()
    section.news
        .container
            .news-container
                h2.news-title Новости
                .news__content 
                    .swiper.mySwiper3
                        .swiper-wrapper
                            a(href="./news.html").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="./news.html").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="./news.html").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="./news.html").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="./news.html").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="./news.html").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                        .swiper-button-next.news-next
                            img(src="@img/next.png", alt="", draggable="false")
                        .swiper-button-prev.news-prev
                            img(src="@img/prev.png", alt="", draggable="false")
