mixin newswrap()
    section.newswrap
        .container 
            .newswrap-left 
                a(href="#").top__news 
                    .top__news-img 
                        img(src="./img/news.webp" alt="news img")
                    .top__news-info 
                        .time 
                            img(src="./img/calendar.svg" alt="news img")
                            p 21:35
                        h1.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam laborum, repellat at dolore repellendus delectus pariatur.
                        p.description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil pariatur quo iste voluptatem, accusantium repudiandae mollitia numquam cupiditate aspernatur quidem.
                .other__news 
                    a(href="#").other__news-item 
                        .img 
                            img(src="./img/news.webp" alt="news img")
                        .info 
                            .time 
                                img(src="./img/calendar.svg" alt="news img")
                                p 21:35
                            h1.title Lorem ipsum dolor sit amet consectetur Quam laborum at dolore repellendus delectus pariatur.
                    a(href="#").other__news-item 
                        .img 
                            img(src="./img/news.webp" alt="news img")
                        .info 
                            .time 
                                img(src="./img/calendar.svg" alt="news img")
                                p 21:35
                            h1.title Lorem ipsum dolor sit amet consectetur Quam laborum at dolore repellendus delectus pariatur.
                    a(href="#").other__news-item 
                        .img 
                            img(src="./img/news.webp" alt="news img")
                        .info 
                            .time 
                                img(src="./img/calendar.svg" alt="news img")
                                p 21:35
                            h1.title Lorem ipsum dolor sit amet consectetur Quam laborum at dolore repellendus delectus pariatur.
                    a(href="#").other__news-item 
                        .img 
                            img(src="./img/news.webp" alt="news img")
                        .info 
                            .time 
                                img(src="./img/calendar.svg" alt="news img")
                                p 21:35
                            h1.title Lorem ipsum dolor sit amet consectetur Quam laborum at dolore repellendus delectus pariatur.
            .newswrap-right
                .title Последние новости
                .content 
                    .content__item 
                        .time 
                            img(src="./img/calendar.svg" alt="news img")
                            p 21:35
                        p.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, vitae! 
                    .content__item 
                        .time 
                            img(src="./img/calendar.svg" alt="news img")
                            p 21:35
                        p.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, vitae!  
                    .content__item 
                        .time 
                            img(src="./img/calendar.svg" alt="news img")
                            p 21:35
                        p.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, vitae!  
                    .content__item 
                        .time 
                            img(src="./img/calendar.svg" alt="news img")
                            p 21:35
                        p.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, vitae!  
                    .content__item 
                        .time 
                            img(src="./img/calendar.svg" alt="news img")
                            p 21:35
                        p.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, vitae!  