include components/header 
include components/main 
include components/news
include components/footer
include components/menu



doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="description")
        link(rel="stylesheet" href="css/style.min.css")
        title bazar 
    body#body 
        +menu
        +header 
        .wrapper
            +main
        +news
        +footer 

        script(src="js/app.min.js") 


