// Главный Sass файл

// Шрифты
@import "fonts";

// abstracts
@import 
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins',
    'abstracts/placeholders';

// base
@import 
    'base/reset',
    'base/typography';

// layout
@import 
    'layout/header',
    'layout/main',
    'layout/category';
    
// components
@import 
    'components/buttons',
    'components/carousel',
    'components/cover',
    'components/dropdown';

// pages
@import 
    'pages/home';

// themes
@import 
    'themes/theme',
    'themes/admin';